
div#top {
    background-color: #1c1245
}

body {
    background-color: #2a1775
}

h1 {
    text-align: center
        color: #FF3399;
          
}

div#image {
    text-align: center
}

div#arrow {
    text-align: center
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar {
    font-family: "Varela Round";
}

h1#about {
    font-family: 'Roboto', sans-serif;
    color: #FF3399;
}

h2#aboutgames {
    font-family: 'Roboto', sans-serif;
    color: #FF3399;
}

h5#credits {
    font-family: 'Roboto', sans-serif;
    color: #FF3399;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #FF3399;
}

#mania {
    background-image: "parkour"
}

#container {
    position:relative;
}

#img2 {
    position: absolute;
    left: 50px;
    top: 50px;
}

div#started {
    font-family: 'Roboto', sans-serif;
    color: #FF3399;
}

h5#credits {
    color: #1c1245
}

h1#contacttitle {
    font-family: 'Roboto', sans-serif;
    color: #FF3399;
}
